<nav class="flex flex-row px-4 sm:px-0 pt-2 top-0 w-full z-10 sticky">
  <div class="m-auto py-3 max-w-6xl w-full sm:py-5 md:py-7 flex justify-center">
    <div
      class="bg-white dark:bg-darkslate-500 w-full sm:w-fit md:w-fit lg:w-fit shadow-2xl shadow-gray-200 dark:shadow-none rounded-3xl border border-gray-300 dark:border-darkslate-100 py-1 flex flex-row items-center px-1"
    >
      <slot />
    </div>
  </div>
</nav>
