---
import ContactForm from "../components/ContactForm.astro";
import Contacts from "../components/Contacts.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Laurynas Gailius | Contact"
  seoTitle="Laurynas Gailius, Software Engineer Contact Page"
  seoDesc="Software Engineer looking to start his career in the IT world with deep focus on fullstack programming"
>
  <main
    class="m-auto grid p-5 sm:p-0 sm:mt-auto max-w-2xl relative flex-auto w-full"
  >
    <ContactForm />
  </main>
</MainLayout>
