---
import AboutMe from "../components/AboutMe.astro";
import Author from "../components/Author.astro";
import IntroCard from "../components/IntroCard.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Laurynas Gailius - Software Engineer"
  seoTitle="Laurynas Gailius, Software Engineer Portfolio"
  seoDesc="Software Engineer looking to start his career in the IT world with deep focus on fullstack programming"
>
  <main
    class="m-auto p-2 grid gap-2 max-w-6xl relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <IntroCard />
    <AboutMe />
    <Author />
  </main>
</MainLayout>
