---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout
	title="Laurynas Gailius - Software Engineer"
	seoTitle="Laurynas Gailius, Software Engineer Portfolio"
	seoDesc="Software Engineer looking to start his career in the IT world with deep focus on fullstack programming">

<div>

</div>



</MainLayout>
