---
import Contacts from "../components/Contacts.astro";
import IntroCard from "../components/IntroCard.astro";
import ProjectsCard from "../components/ProjectsCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).slice(0, 2);
---

<MainLayout
  title="Laurynas Gailius"
  seoTitle="Laurynas Gailius, Software Engineer Portfolio"
  seoDesc="Software Engineer looking to start his career in the IT world with deep focus on fullstack programming"
>
  <main
    class="m-auto mt-5 sm:mt-auto grid gap-2 max-w-2xl relative px-5 sm:px-0 sm:gap-2 md:gap-3 md:grid-cols-3 lg:gap-4 flex-auto"
  >
    <IntroCard />
    <Contacts />
    <ProjectsCard title="Featured Projects" projects={projects} />
  </main>
</MainLayout>
