---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectsCard from "../components/ProjectsCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<MainLayout
  title="Laurynas Gailius | Projects"
  seoTitle="Laurynas Gailius | Projects"
  seoDesc="Collection of projects I've worked on."
>
  <main class="m-auto mt-5 sm:mt-auto max-w-4xl relative px-5 flex-auto">
    <ProjectsCard title="Projects" projects={projects} />
  </main>
</MainLayout>
