---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I am Laurynas, a software engineer based in Vilnius, Lithuania with a
      strong passion for programming and learning new things.
      <br />
       My primary tools are:
      <ul class="list-disc list-inside">
        <li>C#</li>
        <li>.NET</li>
        <li>C/C++</li>
        <li>Javascript</li>
        <li>React</li>
        <li>Java</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Besides programming, I am passionate about technology in general. I love
      to learn about new advancements in the field no matter if it's software,
      hardware, or anything else. I also have a strong interest in culinary arts
      and love exploring various cuisines around the world. I enjoy the
      creativity in making food as much as I enjoy tasting it.
    </p>
    <p class="text-sm font-light">
      My deep curiosity for the world often leads me to researching diverse
      topics, from the perfect cup of coffee to new languages and frameworks.
      I'm always on a quest for knowledge, diving into new topics and emerging
      with a richer perspective.
    </p>
  </div>
</Card>
