---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <p class="text-xs">
    Made by <a
      href="https://www.linkedin.com/in/laurynas-gailius/"
      class="hover:underline">Laurynas Gailius</a
    > | 2023
  </p>
</Card>
