---
import NavCard from "./Card/NavCard.astro";
import Card from "./Card/index.astro";
---

<NavCard>
  <div class="text-center mx-5 my-2">
    <p class="text-xs">
      Made by <a
        href="https://www.linkedin.com/in/laurynas-gailius/"
        class="hover:underline">Laurynas Gailius</a
      > | 2023
    </p>
  </div>
</NavCard>
