---
import NavCard from "./Card/NavCard.astro";
---

<div class="flex justify-center mt-5">
  <div
    class="bg-white dark:bg-darkslate-500 w-full sm:w-fit md:w-fit lg:w-fit shadow-2xl shadow-gray-200 dark:shadow-none rounded-3xl border border-gray-300 dark:border-darkslate-100 py-1 flex flex-row items-center px-1"
  >
    <div class="text-center mx-5 my-2">
      <p class="text-xs">
        Made by <a
          href="https://www.linkedin.com/in/laurynas-gailius/"
          class="hover:underline">Laurynas Gailius</a
        > | 2023
      </p>
    </div>
  </div>
</div>
