---
import Card from "./Card/index.astro";
import Github from "./Icons/Github.astro";
import Linkedin from "./Icons/Linkedin.astro";
---

<div class="flex justify-center items-center">
  <Card colSpan="md:col-span-1" rowSpan="md:row-span-1 h-full" title="Links">
    <div class="flex flex-row gap-5 h-full pb-6 items-center">
      <Github />
      <Linkedin />
    </div>
  </Card>
</div>
