---
import Card from "./Card/index.astro";
import Github from "./Icons/Github.astro";
import Linkedin from "./Icons/Linkedin.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-1 !w-fit text-center"
  title="Socials"
>
  <div class="flex flex-row justify-center items-center gap-5 h-full">
    <Github />
    <Linkedin />
  </div>
</Card>
