---
import Card from "./Card/index.astro";
import { experience } from "../lib/experience.ts";
---

<Card colSpan="col-span-1" rowSpan="row-span-1" title="Experiences">
  <!--   -->
  <div class="flex mt-5 flex-wrap gap-2">
    {
      experience.map((exp) => (
        <a
          class="text-xs font-medium bg-neutral-500/10 dark:bg-neutral-500/20 hover:bg-neutral-200 dark:hover:bg-neutral-500/10 rounded-full px-3 py-1 hover:scale-105 duration-300 cursor-pointer"
          href={exp.link}
        >
          {exp.title}
        </a>
      ))
    }
  </div>
</Card>
