---
import Avatar from "./Avatar.astro";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1">
  <div class="flex-col text-center h-full">
    <div class="text-justify">
      <a
        href="/CV.pdf"
        download="Laurynas Gailius CV"
        class="text-gray-500 dark:text-gray-400 font-bold text-lg hover:bg-neutral-200/70 dark:hover:bg-neutral-800 rounded-full dark:hover:text-white hover:text-black duration-300 sm:py-2 sm:px-4 -m-2"
      >
        Download CV</a
      >
    </div>
    <div class="h-full flex justify-center flex-col">
      <div class="m-2 flex justify-center">
        <Avatar />
      </div>
      <h1 class="font-extrabold text-2xl text-gray-600 dark:text-gray-400">
        Hi, I'm Laurynas
      </h1>
      <h1 class="font-extrabold text-2xl">Software Engineer</h1>
      <br />
      <p class="m-0 font-light text-xl">
        Looking to find his way in the world of programming<br />
        Currently studying at
        <a
          href="https://www.vu.lt/en/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline text-vu-main"
        >
          Vilnius University
        </a>
      </p>
    </div>
  </div>
</Card>
