---
import Avatar from "./Avatar.astro";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2 items-center" rowSpan="md:row-span-1">
  <div class="float-right">
    <Avatar />
  </div>
  <p class="m-0 font-light text-xl">
    Hello, I'm <b class="font-bold">Laurynas Gailius</b>,<br /> a beginner software
    engineer looking to find his way in the world of programming.
  </p>
</Card>
