---
import ThemeToggle from "./ThemeToggle.astro";

const btnStyle =
  "py-4 px-6 sm:py-[8px] sm:px-4 dark:hover:bg-neutral-800 text-gray-500 dark:text-gray-400  hover:bg-neutral-200/70 dark:hover:text-white hover:text-black rounded-full ";

const active = "font-medium !text-black dark:!text-white";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="flex flex-row pt-5 top-0 w-full z-10 sticky">
  <div class="m-auto p-3 max-w-6xl w-full sm:p-5 md:p-7 flex justify-center">
    <div
      class="bg-white dark:bg-darkslate-500 w-fit shadow-2xl shadow-gray-200 dark:shadow-none rounded-3xl border border-gray-300 dark:border-darkslate-100 py-1 flex flex-row items-center px-1"
    >
      <a class={`${btnStyle} ${currentPath === "" ? active : ""}`} href="/"
        >Home</a
      >
      <a
        class={`${btnStyle} ${currentPath === "about" ? active : ""}`}
        href="/about">About</a
      >
      <a
        class={`${btnStyle} ${currentPath === "work" ? active : ""}`}
        href="/work">Work</a
      >
      <a
        class={`${btnStyle} ${currentPath === "contact" ? active : ""}`}
        href="/contact">Contact</a
      >

      <div class="ml-5"><ThemeToggle /></div>
    </div>
  </div>
</nav>
