---
import { Icon } from "astro-icon/components";
---

<button
  type="button"
  id="themeToggle"
  class={"flex rounded-full bg-gray-100 dark:bg-darkslate-200 justify-start dark:justify-end transition-all duration-300 hover:animate-scale border outline-none border-transparent hover:border-neutral-200 dark:hover:border-neutral-700/50 hover:animate-none !w-[80px]"}
>
  <div
    class={"flex justify-center items-center rounded-full bg-white dark:bg-darkslate-500 p-1 m-1 transition-all duration-300 shadow-sm hover:animate-scale h-7 w-7"}
  >
    <Icon
      name="ri:sun-fill"
      class="dark:hidden text-yellow-400 transition-all duration-300"
    />
    <Icon
      name="ri:moon-fill"
      class="hidden dark:block text-slate-600 transition-all duration-300"
    />
  </div>
</button>

<script is:inline>
  const themeToggle = document.getElementById("themeToggle");

  const handleThemeChange = () => {
    const theme =
      document.documentElement.attributes.getNamedItem("data-theme")?.value;
    if (theme === "dark") {
      document.dispatchEvent(new CustomEvent("set-theme", { detail: "light" }));
      themeToggle.setAttribute("aria-label", "Activate dark mode");
    } else {
      document.dispatchEvent(new CustomEvent("set-theme", { detail: "dark" }));
      themeToggle.setAttribute("aria-label", "Activate light mode");
    }
  };

  themeToggle.addEventListener("click", handleThemeChange);
</script>
