---
import { Icon } from "astro-icon/components";
---

<a href="https://www.linkedin.com/in/laurynas-gailius/">
  <div
    class="flex justify-center items-center w-fit h-fit bg-[#0077B5] rounded-2xl p-1"
  >
    <Icon name="ri:linkedin-box-fill" class="text-white text-7xl" />
  </div>
</a>
