---
import { Icon } from "astro-icon/components";
import { links } from "../../lib/contacts";
---

<a href={links.linkedin} aria-label="Laurynas Gailius LinkedIn Profile">
  <div
    class="flex justify-center items-center w-fit h-fit bg-[#0077B5] rounded-2xl p-1 hover:scale-105 duration-300"
  >
    <Icon name="ri:linkedin-fill" class="text-white text-6xl p-2" />
  </div>
</a>
