---
import MainHead from "./MainHead.astro";

const { title, seoTitle, seoDesc } = Astro.props;
---

<html lang="en">
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body class="bg-gray-100 dark:bg-darkslate-600">
    <slot />
  </body>
</html>
