---
import { SEO } from "astro-seo";
import Themes from "astro-themes";
const { title, seoTitle, seoDesc } = Astro.props;
---

<head>
  <title>{title}</title>
  <SEO
    title={seoTitle}
    description={seoDesc}
    openGraph={{
      basic: {
        title: seoTitle,
        type: "website",
        image: "https://lorrygailius.github.io/preview.png",
        url: "https://lorrygailius.github.io",
      },
      optional: {
        description: seoDesc,
      },
    }}
    extend={{
      link: [
        { rel: "icon", href: "/icon.ico" },
        { rel: "sitemap", href: "/sitemap-index.xml" },
      ],
    }}
  />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <Themes />

  <style is:global>
    @font-face {
      font-family: "Satoshi";
      src: url("/fonts/Satoshi-Variable.ttf") format("truetype-variations");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      font-weight: 100 1000;
    }

    body {
      font-family: "Satoshi", sans-serif;
    }
    html {
      --scroll-thumb: #e5e5e5;
      --scroll-thumb-hover: #d4d4d4;
    }
    ::-webkit-scrollbar {
      width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--scroll-thumb-hover);
      border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--scroll-thumb);
      border-radius: 9999px;
    }

    [data-theme="dark"] {
      --scroll-thumb: #202020;
      --scroll-thumb-hover: #2c2c2c;
    }
  </style>
</head>
