---
import Author from "../components/Author.astro";
import NavBar from "../components/NavBar.astro";
import MainHead from "./MainHead.astro";

const { title, seoTitle, seoDesc } = Astro.props;
---

<html lang="en" class="h-screen">
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body
    class="bg-gray-100 dark:bg-darkslate-600 flex flex-col h-full sm:h-auto xl:h-full xl:overflow-hidden"
  >
    <NavBar />
    <slot />
    <footer class="p-5">
      <Author />
    </footer>
  </body>
</html>
